<%- include('./partials/header') %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div id="heading"><%= title %></div>
      <div id="slogan">The ultimate collection of your favorite superheroes</div>
    </div>
  </body>
</html>
