body {
  background-image: url("/images/baby groot wallpaper.jpeg");
  background-size: cover; */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  color: white;

}

#heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  font-size: 95px;
}

#slogan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}