body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

.title {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

/* search bar */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 120px;
    -webkit-transition: width 0.6s ease-in-out;
    transition: width 0.6s ease-in-out;
    margin-right: 5px;
}
.search-bar:focus {
    width: 180px;
}

.search-btn {
    width: 100px;
    height: 100%;
}


.char-image {
    width: 100px;
}

.add-char-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

#results-heading {
    margin-top: 35px;
    font-size: 30px;
}

/* card */

.card {
    width: 250px;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.card-image {
    width: 100%;
}
.card-body {
    display: none;
    text-align: center;
    background:#383838d8;
    color: white;
    -webkit-transition: width 0.6s ease-in-out;
    transition: width 0.6s ease-in-out;
}

h4, h2 {
    line-height: 2.0;
}

.card-btn {
    margin-top: 10px;
}