body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 90px;
    -webkit-transition: width 0.6s ease-in-out;
    transition: width 0.6s ease-in-out;
    margin-right: 5px;
}
.search-bar:focus {
    width: 170px;
}
.search-btn {
    width: 40px;
    height: 26px;
}


.btn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.char-image {
    width: 100px;
}

.add-char-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

