@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee+Shade&family=Marcellus&family=Orbitron:wght@600&family=Permanent+Marker&family=Teko&family=Share+Tech+Mono&display=swap');

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 100vh;
}

.title {
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Teko;
}

/* hero card */
.card {
    max-width: 100%;
}

.char-image {
    width: 100px;
}

.row {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

.id-num {
    left: 30px;
    font-size: 20px;
    font-weight: bold;
    font-family: Orbitron;
}

.char-name {
    text-align: center;
    font-size: 45px;
    font-family: Orbitron;
    text-shadow: 4px 4px 4px #868686;
    margin-bottom: 15px;
    margin-top: 15px;
}

.pane-heading {
    margin-top: 15px;
    margin-bottom: 20px;
}

.add-char-btn {
    margin-left: 20px;
}

.del-char-btn {
    margin-right: 20px;
    max-width:fit-content;
}

.user-image {
    width: 40px;
}

.col:nth-child(1) {
    margin-right: 5px;
}

/* Reviews */
.review-heading {
    margin-top: 15px;
    text-align: center;
}

.edit-container {
    display: flex;
    flex-direction: row;
}
.editBtn {
    margin-right: 10px;
    margin-bottom: 8px;
    width: 70px;
}
.deletebtn {
    width: 70px;
}

.add-review-btn {
    margin-left: 20px;
}

.commentTextarea {
    margin-bottom: 15px;
}

.tempText {
    margin-left: 10px;
}

.no-review {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.editBtn {
    
}


