body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.char-image {
    width: 100px;
}

.add-char-btn, .del-char-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    width: 150px;
}

.user-image {
    width: 40px;
}

form {
    margin-left: 15px;
    width: 600px;
}

.row {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

.col:nth-child(1) {
    margin-right: 5px;
}