<%- include('../partials/header') %>
<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/characters/edit.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
  <body>
      <h2 class="title"><%= title %> </h2>
      <!-- Review form -->
        <div>
            <form action="/reviews/<%= character.reviews._id%>?_method=PUT" method="POST"> 
                <div class="form-group" >
                    <div class="review-container">
                        <label>Review:</label>
                        <textarea class="form-control" row="3" id="comment" name="content" value="character.reviews.content"></textarea>
                    </div>
                    <div class="rating-container">
                        <label>Rating:</label>
                        <label class="radio-inline"><input type="radio" name="rating" value="1">1</label>
                        <label class="radio-inline"><input type="radio" name="rating" value="2">2</label>
                        <label class="radio-inline"><input type="radio" name="rating" value="3">3</label>
                        <label class="radio-inline"><input type="radio" name="rating" value="4">4</label>
                        <label class="radio-inline"><input type="radio" name="rating" value="5" selected>5</label>
                    </div>
                    <div>
                        <button>Cancel</button>
                        <button type="submit">Edit review</button>
                    </div>
                </div>
            </form>
        </div>
  </body>
</html>