<%- include('../partials/header') %>

<!DOCTYPE html>
<html>
  <head>
      <title>My team</title>
    <link rel='stylesheet' href='/stylesheets/characters/index.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <div class="search-container">
            <input class="search-bar" type="text" name="search" placeholder="Search...">
            <button class="btn glyphicon glyphicon-search align-self-end"></button>&nbsp
        </div>
    </div>
  </body>
</html>